<li>
    <span>{{category_title}}</span>
    <button type="button" class="btn btn-add btn-xs btn-default glyphicon glyphicon-plus"></button>
    <ul class="childs"></ul>
    <form class="add-form input-group btn-group" data-id="{{category_id}}">
        <input type="text" class="form-control input-sm" required="required" />
        <button type="submit" class="btn btn-save btn-sm btn-primary">Add</button>
    </form>
</li>
