<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}CategoryTree{% endblock %}</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
            {% stylesheets '@AppCategoryBundle/Resources/public/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            {% javascripts '@AppCategoryBundle/Resources/public/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <h1>CategoryTree</h1>
            <ul id="categoryTree">                
                {% include 'AppCategoryBundle:Category:partial/categoryTreeElement.html.twig' with {
                    'category_id': category_id, 
                    'category_title': category_title
                } %}
            </ul>
        </div>
    </body>
</html>
