#categoryTree{
    
}
#categoryTree > ul{
    margin: 0;
}
#categoryTree ul{
    border-left: 1px dashed #000;
    padding-left: 20px;
    margin: 5px 0 5px 15px;
}
#categoryTree li{
    list-style: none;
    margin-bottom: 5px;
}
#categoryTree li > span{
    padding-right: 10px;
}
#categoryTree .add-form{
    display: none;
    width: 210px; 
    height: 40px;
    clear: both;
    margin-top: 8px;
}
#categoryTree .add-form.active{
    display: block;
}
#categoryTree .form-control{
    width: 150px;
    float:left;
}